/* <system section="theme" selected="block-memo"> */
@import "/css/theme/block-memo/block-memo.css";
/* </system> */

/* <system section="background" selected="default"> */
/* default */
/* </system> */

pre.code.lang-c { 
	font-family: "メイリオ";
}

pre.gakuhu { 
	font-family: "メイリオ";
	background: #f5f5f5;
	padding: 10px;
	line-height: 1.7;
    white-space: pre-wrap;
}
span.lylic {
	color: 	#650000;
/*	font-weight: bold;*/
}
span.chord {
	color: #006565;
	font-weight: bold;
}
